#play{
	width : 80%;
	padding: 1.2rem 0;
	margin: 0 auto;
}
.row-start{
	display: flex;
	display: -webkit-flex;
	justify-content : flex-start;
}
#play .row{
	display: flex;
	display: -webkit-flex;
	justify-content : space-around;
}

#play .row input{
	padding: 12px 8px;
	align-self: center;
}
.table h2,h4{
		width: 25%;
}
.record-rows:nth-child(odd){
	background-color: grey;
}